<div class="row">
  <aside class="col-sm-4 mb-3">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title"><%= @user.name %></h3>
      </div>
      <div class="card-body">
        <img class="rounded img-fluid" src="<%= gravatar_url(@user, {size: 100 }) %>" alt="">
      </div>
    </div>
  </aside>
  
  <div class="col-sm-8">
    <table class="table">
      <tr class="table-head">
        <th>プロフィール</th>
        <th></th>
      </tr>
      <tr>
        <td>Email</td>
        <td><%= @user.email %></td>
      </tr>
      <tr>
        <td>Address</td>
        <td><%= @user.address %></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
      </tr>
    </table>
    <div class="text-right mb-4">
      <%= link_to 'プロフィールを編集する', edit_user_path(@user), class: 'btn btn-secondary' %>
    </div>
  </div>
</div>