<div class="row">
  <aside class="col-sm-4">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title"><%= @user.name %></h3>
      </div>
      <div class="card-body">
        <img class="rounded img-fluid" src="<%= gravatar_url(@user, {size: 100 }) %>" alt="">
      </div>
    </div>
  </aside>
  <div class="col-sm-8">
    <ul>
      <li>Email：<%= @user.email %></li>
      <li>Address：<%= @user.address %></li>
    </ul>
  </div>
</div>
<h4 class="mt-5 mb-5">購入した商品</h4>
<div class="container">
  <% @buyer.each do |buyer| %>
    <div class="row">
      <div class="col-4">
        <% if buyer.item.image? %>
          <%= image_tag buyer.item.image.url(:thumb) %>
        <% end %>
      </div>
      <div class="col-3">
        <div>
          出品者：<%= buyer.item.user.name %>
        </div>
        <div>
          商品名：<%= link_to buyer.item.title, item_path(buyer.item) %>
        </div>
        <div>
          カテゴリー：<%= buyer.item.category %>
        </div>
        <div>
          価格：<%= buyer.item.price %>円
        </div>
      </div>
    </div>
  <% end %>
  <%= paginate @buyer %>
</div>