<div class="container">
  <h2 class="text-center mt-5 mb-5">購入が完了しました</h2>
  <div class"row">
    <h5 class="text-center col-md-4">
      <%= current_user.name %>さんが購入した商品
    </h5>
  </div>
  <div class="row mt-3 mb-3">
    <div class="text-center col-md-4 mb-3">
      <% if @item.image? %>
        <%= image_tag @item.image.url(:thumb) %>
      <% end %>
    </div>
    <div class="col-md-8">
      <table class="table">
        <tr>
          <td>出品者</td>
          <td><%= @item.user.name %></td>
        </tr>
        <tr>
          <td>商品名</td>
          <td><%= link_to @item.title, item_path(@item) %></td>
        </tr>
        <tr>
          <td>商品の状態</td>
          <td><%= @item.condition %></td>
        </tr>
        <tr>
          <td>価格</td>
          <td><%= @item.price %>円</td>
        </tr>
        <tr>
          <td>配送先</td>
          <td><%= current_user.address %></td>
        </tr>
        <tr>
          <td>配送料の負担</td>
          <td><%= @item.shipping %></td>
        </tr>
        <tr>
          <td>発送元の地域</td>
          <td><%= @item.region %></td>
        </tr>
        <tr>
          <td>発送までの日数</td>
          <td><%= @item.day %></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
        </tr>
      </table>
    </div>
  </div>
</div>