<div class="text-center">
  <h1></h1>
</div>

<div class="row">
  <div class="col-sm-6 offset-sm-3">
    
    <%= form_with(model: @item, local: true) do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>
    
      <div class="form-group">
        <%= f.label "商品の画像をアップロード" %><br><%= f.file_field :image %> 
      </div>
    
      <div class="form-group">
        <%= f.label :title, '商品名' %>
        <%= f.text_field :title, class: 'form-control' %>
      </div>
    
      <div class="form-group">
        <%= f.label :category, 'カテゴリー' %>
        <%= f.select :category, [['レディース', 'レディース'], ['メンズ', 'メンズ'], ['ベビー・キッズ', 'ベビー・キッズ'], ['インテリア・住まい・小物', 'インテリア・住まい・小物'], ['本・音楽・ゲーム', '本・音楽・ゲーム'], ['おもちゃ・ホビー・グッズ', 'おもちゃ・ホビー・グッズ'], ['コスメ・香水・美容', 'コスメ・香水・美容'], ['家電・スマホ・カメラ', '家電・スマホ・カメラ'], ['スポーツ・レジャー', 'スポーツ・レジャー'], ['ハンドメイド', 'ハンドメイド'], ['チケット', 'チケット'], ['自転車・オートバイ', '自転車・オートバイ'], ['その他', 'その他']], :prompt => '選択してください', class: 'form-control' %>
      </div>
    
      <div class="form-group">
        <%= f.label :price, '価格' %>
        <%= f.number_field :price, class: 'form-control' %>
      </div>
    
      <div class="form-group">
        <%= f.label :explanation, '商品説明' %>
        <%= f.text_field :explanation, class: 'form-control' %>
      </div>
    
      <%= f.submit '出品登録をする', class: 'btn btn-primary btn-block' %>
    <% end %>
  </div>
</div>