<div class="container">
  <div class="mb-3">
    <% if @item.image? %>
      <%= image_tag @item.image.url(:thumb) %>
    <% end %>
  </div>
  
  <table class="table">
    <tr class="table-head">
      <th>商品情報</th>
      <th></th>
    </tr>
    <tr>
      <td>出品者</td>
      <td><%= @item.user.name %></td>
    </tr>
    <tr>
      <td>商品名</td>
      <td><%= link_to @item.title, item_path(@item) %></td>
    </tr>
    <tr>
      <td>商品の状態</td>
      <td><%= @item.condition %></td>
    </tr>
    <tr>
      <td>価格</td>
      <td><%= @item.price %>円</td>
    </tr>
  </table>
  
  <table class="table">
    <tr class="table-head">
      <th>配送について</th>
      <th></th>
    </tr>
    <tr>
      <td>配送料の負担</td>
      <td><%= @item.shipping %></td>
    </tr>
    <tr>
      <td>発送元の地域</td>
      <td><%= @item.region %></td>
    </tr>
    <tr>
      <td>発送までの日数</td>
      <td><%= @item.day %></td>
    </tr>
  </table>
  
  <table class="table">
    <tr class="table-head">
      <th>購入者情報</th>
      <th></th>
    </tr>
    <tr>
      <td>名前</td>
      <td><%= current_user.name %></td>
    </tr>
    <tr>
      <td>住所</td>
      <td><%= current_user.address %></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
    </tr>
  </table>
  
  <div class="text-center mt-3 mb-4">
    <%= form_with(url: pay_item_path, method: :post) do %>
      <script
        class="payjp-button"
        data-key="pk_test_fb66f9cb04fc55ea8f9eb4cf"
        src="https://checkout.pay.jp"
        type="text/javascript"
        data-text="クレジットカード情報を入力する">
      </script>
    <% end %>
  </div>
  <p class="text-right text-warning pb-4">※クレジットカード情報入力ボタンがない場合はページをリロードしてください</p>
</div>