<div class="container">
  <div class="row mb-3">
    <div class="col-6 col-lg-4">
      <% if @item.image? %>
        <%= image_tag @item.image.url(:thumb) %>
      <% end %>
    </div>
    <div class="col-12 col-lg-8">
      <div>
        出品者：<%= @item.user.name %>
      </div>
      <div>
        商品名：<%= link_to @item.title, item_path(@item) %>
      </div>
      <div>
        カテゴリー：<%= @item.category %>
      </div>
      <div>
        価格：<%= @item.price %>円
      </div>
    </div>
  </div>
      <div>
        名前：<%= current_user.name %>
      </div>
      <div>
        住所：<%= current_user.address %>
      </div>
      <div class="text-center mt-3">
        <%= form_for(@item, url: done_item_path, method: :get) do |f| %>
          <%= f.submit '購入手続きを完了する', class: 'btn btn-primary btn-lg' %>
        <% end %>
      </div>
</div>