<h2 class="mb-4 text-center">出品した商品</h2>
<div class="container">
  <div class="row mb-4">
    <% @item.each do |item| %>
      <div class="col-6 col-lg-3 favorite">
        <% if item.image? %>
          <%= image_tag item.image.url(:thumb) %>
        <% end %>
      </div>
      <div class="col-6 col-lg-3 favorite2">
        <div>
          出品者：<%= item.user.name %>
        </div>
        <div>
          商品名：<%= link_to item.title, item_path(item) %>
        </div>
        <div>
          価格　：<%= item.price %>円
        </div>
        <% if item.buying == 'soldout' %>
          販売状況：<span class="text-danger">売却済み</span>
        <% else %>
          販売状況：<span class="text-warning">販売中</span>
        <% end %>
      </div>
    <% end %>
  </div>
  <%= paginate @item %>
</div>